*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 250ms ease;
}
$dark-green-header: #0a4a52;
$dark-green-btn: #0c636d;
$teal-logo: #14818d;
$dark-green-font: #446b6b;

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Bebas Neue", sans-serif;
  color: $dark-green-header;
}
button {
  background: $dark-green-btn;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  &:hover {
    opacity: 0.8 !important;
  }
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 66);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(19, 19, 19);
}
