.process {
  width: 100%;
  margin-top: 10rem;
  .process-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    .process-left {
      h1 {
        font-weight: 500;
        font-size: 3rem;
        opacity: 0;
      }
      p {
        max-width: 250px;
        color: $teal-logo;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.8;
        margin-top: 2rem;
        opacity: 0;
      }
      .desktop-btn {
        margin-top: 3rem;
        padding: 1rem 3rem;
        opacity: 0;
      }
    }
    .process-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;
      .right-container {
        h1 {
          font-weight: 500;
          opacity: 0;
        }
        p {
          color: $teal-logo;
          font-weight: 600;
          font-size: 16px;
          line-height: 1.8;
          margin-top: 1rem;
          max-width: 250px;
          opacity: 0;
        }
      }
      .right-upper,
      .right-lower {
        display: flex;
        gap: 3rem;
        justify-content: space-between;
      }
    }
    .mobile-btn {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .process {
    margin-top: clamp(5rem, 20vw, 10rem);
    .process-container {
      grid-template-columns: 1fr;
      .process-left {
        h1 {
          text-align: center;
        }
        p {
          display: none;
        }
        .desktop-btn {
          display: none;
        }
      }
      .process-right {
        .right-upper,
        .right-lower {
          justify-content: space-around;
          margin-top: 3rem;
          // flex-wrap: wrap;
        }
        .right-container {
          // flex: 0 1 230px;
        }
      }
    }
    .mobile-btn {
      display: block !important;
      margin-top: 3rem;
      padding: 1rem;
      opacity: 0;
    }
  }
}
@media screen and (max-width: 410px) {
  .process {
    .process-container {
      .process-right {
        .right-upper,
        .right-lower {
          flex-wrap: wrap;
        }
        .right-lower {
          margin-top: 0;
        }
        .right-container {
          flex: 0 1 230px;
          h1 {
            text-align: center;
          }
          p {
            text-align: center;
          }
        }
      }
    }
  }
}
