.video {
  width: 100%;
  margin-top: 5rem;
  .video-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    video {
      width: 100%;
      height: auto;
      outline: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .video {
    margin-top: clamp(2rem, 10vw, 5rem);
  }
}
