*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Bebas Neue", cursive;
  color: #0a4a52;
}

button {
  background: #0c636d;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

nav {
  width: 100%;
}

nav .nav-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

nav .nav-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-container .logo h1 {
  font-weight: 500;
  letter-spacing: 2px;
}

nav .nav-container .logo h1 a {
  color: #14818d;
}

nav .nav-container .logo .hamburger {
  width: 30px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

nav .nav-container .logo .hamburger span {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #0a4a52;
}

nav .nav-container .logo .hamburger span:nth-child(1) {
  top: 0;
  right: 0;
}

nav .nav-container .logo .hamburger span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

nav .nav-container .logo .hamburger span:nth-child(3) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

nav .nav-container .logo .hamburger span:nth-child(4) {
  bottom: 0;
  left: 0;
}

nav .nav-container .nav-list {
  margin-top: 1rem;
  overflow: hidden;
  height: 0;
  position: absolute;
  width: 100%;
  background: white;
  left: 0;
  padding: 0 2rem;
}

nav .nav-container .nav-list a {
  color: #0a4a52;
}

nav .nav-container .nav-list a .nav-item {
  text-align: center;
  padding: 1rem;
  font-family: "Bebas Neue", cursive;
  font-size: 1.25rem;
  margin: 0.5rem 0;
  border: transparent solid 2px;
  letter-spacing: 2px;
}

nav .nav-container .nav-list a .nav-item:hover {
  border: #0a4a52 solid 2px;
}

.hamburger-active span:nth-child(1) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.hamburger-active span:nth-child(2) {
  -webkit-transform: translateY(-50%) rotate(45deg) !important;
          transform: translateY(-50%) rotate(45deg) !important;
}

.hamburger-active span:nth-child(3) {
  -webkit-transform: translateY(-50%) rotate(-45deg) !important;
          transform: translateY(-50%) rotate(-45deg) !important;
}

.hamburger-active span:nth-child(4) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.nav-list-active {
  height: 285px !important;
  border-bottom: solid 2px rgba(195, 195, 195, 0.267);
}

@media screen and (min-width: 768px) {
  nav .nav-container {
    padding: 1.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .nav-container .logo a {
    padding: 1rem;
  }
  nav .nav-container .logo .hamburger {
    display: none;
  }
  nav .nav-container .nav-list {
    height: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    position: relative;
    width: unset;
    border: none;
  }
  nav .nav-container .nav-list a .nav-item {
    border: none;
  }
  nav .nav-container .nav-list a .nav-item:hover {
    border: none;
    opacity: 0.7;
  }
  .nav-list-active {
    height: unset !important;
  }
}

.hero {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.hero .hero-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: clamp(2rem, 4vw, 4rem);
}

.hero .hero-container .left-col {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  margin-top: 0.75rem;
  width: 100%;
}

.hero .hero-container .left-col .left-img {
  width: 100%;
  height: 100%;
}

.hero .hero-container .right-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.hero .hero-container .right-col .right-text .right-header {
  font-weight: 500;
  font-size: 3rem;
}

.hero .hero-container .right-col .right-text .right-desc {
  color: #14818d;
  font-weight: 600;
  word-spacing: 4px;
  line-height: 2;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-top: 1rem;
}

.hero .hero-container .right-col .right-text .right-btn {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 1rem 3rem;
  margin-top: 3rem;
}

.hero .hero-container .right-col .right-img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
  height: 50%;
}

@media screen and (max-width: 768px) {
  .hero .hero-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .hero .hero-container .left-col {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .hero .hero-container .right-col {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .hero .hero-container .right-col .right-img {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */